.card-image {
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover .card-buttons {
    display: block;
}

.card-buttons {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.RecipeList .card:hover,
.MyRecipesList .card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card-author, .card-cooking-time {
  color: #6c757d;
}

.chef-icon {
  margin-right: 5px;
}

.clock-icon {
    margin-right: 5px;
  }
